<launch>
    <!-- image capture from camera -->
    <node name="manip_cam"
          pkg="usb_cam"
          type="usb_cam_node">

        <param name="pixel_format"
               value="yuyv" />

        <param name="video_device"
               value="/dev/video1" />

    </node>

    <!-- image processing -->
    <node name="manip_track"
          pkg="manip"
          type="segment"
          output="screen"
          required="true">

        <remap from="image_in"
               to="/manip_cam/image_raw" />
        <remap from="image_out"
               to="/manip_track/image" />
        <remap from="click"
               to="/manip_viewer/click" />
        <remap from="objects"
               to="/manip_track/objects" />
    </node>

    <node name="manip_learn"
          pkg="manip"
          type="learn"
          output="screen"
          required="true">
          
        <remap from="objects"
               to="/manip_track/objects" />
    </node>

    <!-- image display -->
    <node name="manip_viewer"
          pkg="image_view_plus"
          type="image_view"
          required="true">

        <remap from="image"
               to="/manip_track/image" />
        <remap from="click"
               to="/manip_viewer/click" />
    </node>
</launch>

